# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bookr?schema=public"

# App
PORT=3001
FRONTEND_URL="http://localhost:3000"

# JWT Auth Secrets
JWT_ACCESS_SECRET="sua_chave_secreta_access_token_super_segura"
JWT_REFRESH_SECRET="sua_chave_secreta_refresh_token_super_segura"

# Token Expiration
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

#Google Books API Key (Opcional, mas recomendado para evitar limites de requisições)
GOOGLE_BOOKS_API_KEY="sua_chave_opcional_google_books"