# Database
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/reading_platform?schema=public"

# App
PORT=3001
FRONTEND_URL="http://localhost:3000"

# JWT Auth Secrets
JWT_ACCESS_SECRET="sua_chave_secreta_access_token_super_segura"
JWT_REFRESH_SECRET="sua_chave_secreta_refresh_token_super_segura"

# Token Expiration
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"